[user]
	name = Phuc Cao-Van
	email = phuc.cv@citigo.com.vn
[credential]
	helper = cache
[difftool "sourcetree"]
	cmd = 'C:/Program Files/KDiff3/kdiff3.exe' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = 'C:/Program Files/KDiff3/kdiff3.exe' \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[core]
	excludesfile = C:\\Users\\phuc\\Documents\\gitignore_global.txt
