! vi: commentstring=!%s
Xcursor.theme                : DMZ-Black
Xcursor.size                : 16
Xft.antialias                : 1
Xft.autohint                : 0
! Depend on auto-detection for the correct DPI value
! Xft.dpi                                : 96.0
Xft.hinting                        : 1
Xft.hintstyle                : hintfull
Xft.lcdfilter                : lcddefault
Xft.rgba                        : rgb

yeahconsole*restart                        : 0
yeahconsole*stepSize                : 0
yeahconsole*consoleHeight        : 24
yeahconsole*handleWidth                : 0
yeahconsole*aniDelay                : 20
yeahconsole*keyBigger                : Alt+j
yeahconsole*keySmaller                : Alt+k
yeahconsole*toggleKey                : Alt+space
yeahconsole*keyFull                        : Alt+f
yeahconsole*term                        : urxvt
!yeahconsole*xOffset                        : 100
yeahconsole*yOffset                        : 15
yeahconsole*screenWidth                : 1600
yeahconsole*xrandrSupport        : 1

! enable letter space in case you want to you use xft fonts
URxvt.letterSpace                : 0
URxvt*font                                : xft:SourceCodePro:regular:pixelsize=14,xft:AR PL UKai CN:regular:pixelsize=16
URxvt*boldFont                        : xft:SourceCodePro:bold:pixelsize=14,xft:AR PL UKai CN:bold:pixelsize=16
!URxvt*font                                : xft:Ubuntu Mono:regular:pixelsize=13,xft:AR PL UKai CN:regular:pixelsize=16
!URxvt*boldFont                        : xft:Ubuntu Mono:bold:pixelsize=13,xft:AR PL UKai CN:bold:pixelsize=16

URxvt*scrollBar                        : false
URxvt*reverseVideo                : false
URxvt*saveLines                        : 60000
URxvt*cursorBlink                : false
URxvt*geometry                  : 84x19

URxvt*meta8                                : false
!URxvt*modifer                        : alt
!URxvt.keysym.Control-Return        :\037\036
!URxvt*keysym.Control-Insert                : 10.200.21.
!URxvt*keysym.M-o                                : $OLDPWD
! URxvt.perl-ext-common                        : matcher,searchable-scrollback<M-s>,selection
URxvt.perl-ext-common                        : default,matcher,tabbedex,vtwheel
URxvt*iso14755                                        : false
URxvt*iso14755_52                                : false
URxvt.intensityStyles: false
URxvt.tabbed.new-button: false
URxvt.tabbed.autohide: true
URxvt.keysym.Control-t: perl:tabbedex:new_tab
URxvt.keysym.Control-Tab: perl:tabbedex:next_tab
URxvt.keysym.Control-Shift-Tab: perl:tabbedex:prev_tab

!!Source http://github.com/altercation/solarized

*background: #002b36
*foreground: #839496
!!*fading: 40
*fadeColor: #002b36
*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

!! black dark/light
*color0: #073642
*color8: #002b36

!! red dark/light
*color1: #dc322f
*color9: #cb4b16

!! green dark/light
*color2: #859900
*color10: #586e75

!! yellow dark/light
*color3: #b58900
*color11: #657b83

!! blue dark/light
*color4: #268bd2
*color12: #839496

!! magenta dark/light
*color5: #d33682
*color13: #6c71c4

!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1

!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3



! xscreensaver ---------------------------------------------------------------

!font settings
xscreensaver.Dialog.headingFont:        -*-dina-bold-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-dina-medium-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-dina-medium-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-dina-medium-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-dina-bold-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-dina-medium-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-dina-bold-r-*-*-10-*-*-*-*-*-*-*
!general dialog box (affects main hostname, username, password text)

xscreensaver.Dialog.foreground:         #ffffff
xscreensaver.Dialog.background:         #000000
xscreensaver.Dialog.topShadowColor:     #000000
xscreensaver.Dialog.bottomShadowColor:  #000000
xscreensaver.Dialog.Button.foreground:  #666666
xscreensaver.Dialog.Button.background:  #ffffff
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #666666
xscreensaver.Dialog.text.background:    #ffffff
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        20
xscreensaver.Dialog.shadowThickness:    2
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #666666
xscreensaver.passwd.thermometer.background:  #000000
xscreensaver.passwd.thermometer.width:       8